In [1]:
import pandas as pd

# weather_data = { #Dictionary (Like Map in C++)
#     'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
#     'temperature': [32,35,28,24,32,31],
#     'windspeed': [6,7,2,7,4,2],
#     'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
# }
# df = pd.DataFrame(weather_data)
df = pd.read_csv("weather.csv")

df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [2]:
df.shape #Tuple
r, c = df.shape
print(r, c)

df.head(2)
df.tail(2)
df[2:5]
df[:] #df

6 4

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
df.columns
df.day
df.event #df['event']
df[['event', 'day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [4]:
type(df['event'])

pandas.core.series.Series

In [5]:
print(df['temperature'].max())
print(df['temperature'].mean())
print(df['temperature'].min())
print(df['temperature'].std()) #Standard deviation
df.describe()

35
30.333333333333332
24
3.8297084310253524

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [6]:
df[df.temperature>=32] #df[df['temperature']>=32]
df[df.temperature==df.temperature.max()]
df[['day', 'temperature']][df.temperature==df.temperature.max()]

        day  temperature
1  1/2/2017           35

In [7]:
df.index
df.set_index('day', inplace = True)

In [8]:
df.loc['1/4/2017']

temperature      24
windspeed         7
event          Snow
Name: 1/4/2017, dtype: object

In [9]:
df.reset_index(inplace=True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
df.set_index('event', inplace=True)
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [12]:
df.loc['Rain']
df.iloc[4]

day            1/5/2017
temperature          32
windspeed             4
Name: Rain, dtype: object