In [22]:
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [23]:
df = pd.read_csv("aapl_holidays.csv")

df

      Open    High     Low   Close    Volume
0   144.88  145.30  143.10  143.50  14277848
1   143.69  144.79  142.72  144.09  21569557
2   143.02  143.50  142.41  142.73  24128782
3   142.90  144.75  142.90  144.18  19201712
4   144.11  145.95  143.37  145.06  21090636
5   144.73  145.85  144.38  145.53  19781836
6   145.87  146.18  144.82  145.74  24884478
7   145.50  148.49  145.44  147.77  25199373
8   147.97  149.33  147.33  149.04  20132061
9   148.82  150.90  148.57  149.56  23793456
10  149.20  150.13  148.67  150.08  17868792
11  150.48  151.42  149.95  151.02  20922969
12  151.50  151.74  150.19  150.34  17243748
13  149.99  150.44  148.88  150.27  26252630

In [24]:
rng = pd.date_range(start = '7/1/2017', end = '7/21/2017', freq = 'B')

rng

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [25]:
usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())

usb

In [26]:
rng = pd.date_range(start="7/1/2017",end="7/23/2017", freq=usb)

rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [28]:
df.set_index(rng, inplace = True)

df

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636
2017-07-11  144.73  145.85  144.38  145.53  19781836
2017-07-12  145.87  146.18  144.82  145.74  24884478
2017-07-13  145.50  148.49  145.44  147.77  25199373
2017-07-14  147.97  149.33  147.33  149.04  20132061
2017-07-17  148.82  150.90  148.57  149.56  23793456
2017-07-18  149.20  150.13  148.67  150.08  17868792
2017-07-19  150.48  151.42  149.95  151.02  20922969
2017-07-20  151.50  151.74  150.19  150.34  17243748
2017-07-21  149.99  150.44  148.88  150.27  26252630

In [31]:
egypt_weekdays = "Sun Mon Tue Wed Thu"

b = CustomBusinessDay(weekmask=egypt_weekdays, holidays = ['2017-07-04'])

pd.date_range(start="7/1/2017",periods=20,freq=b)

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-05', '2017-07-06',
               '2017-07-09', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-16', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-23', '2017-07-24',
               '2017-07-25', '2017-07-26', '2017-07-27', '2017-07-30'],
              dtype='datetime64[ns]', freq='C')